@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* 전체 배경색 및 기본 텍스트 색상 설정 */
body {
  @apply bg-background text-textColor;
}

.pacifico-regular {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
}

.slick-initialized {
  width: 100%;
}
.slick-track {
  height: 340px;
  display: flex;
  align-items: center;
}
.slick-current + .slick-active .book-cover {
  width: 300px !important;
}
.slick-dots .slick-active button::before {
  color: rgb(173, 107, 86) !important;
}
.slick-dots button::before {
  color: rgb(117, 117, 117) !important;
}
